.html {
    background: #F5F1ED;
}

.blocks {
    display:table-row;
}

.block {
    display:table-cell;
    background: #F5F1ED;
    /*border:2px solid #FFF;*/
}


#background-container {
    width: 500px;
    height: 500px;
    /*border: solid black 1px;*/
    display:table;
    border-collapse:collapse;
    box-sizing:border-box;
    /*background: url(https://lastfm.freetls.fastly.net/i/u/770x0/a701bd388c95415ac140405686cdd0af.jpg#a701bd388c95415ac140405686cdd0af) no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.block.revealed{
    transition: 3s;
    background: #0000;
}

.centerContent{
    display: flex;
    align-items: center;
    justify-content: center;
}